


<div class="w-full mx-auto px-6 mb-6">
  <div class="mb-7">
      <h1 class="text-2xl text-center font-semibold text-gray-800" [@title]>{{page?.title}}</h1> 
      <p class="text-center text-gray-600" [@header]>{{page?.header}}</p>
  </div>

  <div class="p-6">
    <!-- Challenge Message -->
    <div class="mb-4 text-center text-gray-700 font-medium" [@message]>
      {{ challenge()?.challenge?.message }}
    </div>

    <!-- Image Container -->
    <div class="aspect-w-16 aspect-h-9 mb-4">
      <app-custom-radio
        [options]="challenge()?.all"
        [userSelect]="userSelect"
      ></app-custom-radio>
    </div>

    <!-- Action Buttons -->
    <div class="flex justify-between gap-4 mb-4">
      <button type="button" (click)="refresh()" class="flex items-center justify-center px-4 py-2 bg-gray-100 hover:bg-gray-200 rounded-lg transition-colors duration-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
        </svg>
        Refresh
      </button>
      
      <button type="button" (click)="verify()" class="px-4 py-2 bg-green-600 text-white text-sm rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 transition-all">
        Verify
      </button>
    </div>
    <app-alert />
  </div>
</div>