<!-- Custom Radio Component -->
<div class="w-full mx-auto space-y-4">
  <div class="gap-3 w-full grid grid-cols-3 h-fit">
    <div *ngFor="let option of options(); let i = index; trackBy: trackByFn"
         class="relative flex items-center border-2 rounded-lg p-4 cursor-pointer transition-all duration-200 hover:bg-sky-50"
         [class.border-sky-600]="userSelect().at(i).value === option.id"
         [class.border-gray-200]="userSelect().at(i).value !== option.id"
         (click)="onSelectionChange(option.id, i)">
      
      <!-- Radio Input Circle -->
      <div class="relative mr-4 flex-shrink-0">
        <div class="w-6 h-6 border-2 rounded-full transition-colors duration-200"
             [class.border-sky-600]="userSelect().at(i).value === option.id"
             [class.border-gray-300]="userSelect().at(i).value !== option.id">
          <div class="absolute inset-0 m-1 rounded-full transition-all duration-200"
               [class.bg-sky-600]="userSelect().at(i).value === option.id">
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="flex-grow">
        <div class="flex items-center">
          <span *ngIf="option.icon" 
                class="mr-2 text-gray-600">
            {{ option.icon }}
          </span>
          <span class="font-medium text-gray-900">
            {{ option.name }}
          </span>
        </div>
        <!-- <p *ngIf="option.description" 
           class="mt-1 text-sm text-gray-500">
          {{ option.description }}
        </p> -->
      </div>
    </div>
  </div>
</div>